.DS_Store
settings.json
.env
mongo-volume
mongo-root-user.js
shell.nix
.envrc
.vscode

.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
