[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mongomock = "*"
pylint = "*"
mypy = "*"
isort = "*"
coverage = "*"
coveralls = "*"
pydocstyle = "*"

[packages]
flask = "*"
pymongo = "*"
flask-mail = "*"
flask-jwt-extended = "*"
marshmallow = "*"
flask-cors = "*"
gunicorn = "*"
python-dotenv = "*"
werkzeug = "*"
dnspython = "*"

[requires]
python_version = "3.8"
