[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mongomock = "*"
pylint = "*"
mypy = "*"
isort = "*"
coverage = "*"
coveralls = "*"

[packages]
flask = "*"
pymongo = "*"
flask-mail = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
marshmallow = "*"
flask-cors = "*"

[requires]
python_version = "3.8"
